name: Test web
on:
     push:
         branches:
             - '**'
jobs:
    test-ci:
        name: Test CI
        timeout-minutes: 30
        runs-on: ubuntu-latest
        permissions:
            contents: "read"
            id-token: "write"
        steps:
        - uses: actions/checkout@v3

        - name: Set up JDK
          uses: actions/setup-java@v2
          with:
            distribution: 'temurin'
            java-version: '11'

        - name: Set up Mave
          run: sudo apt-get install -y maven

        - name: Install Chrome
          run:
            sudo apt-get update && sudo apt-get --only-upgrade install google-chrome-stable

        - name: CI test
          run:
            mvn clean test -Dsuite=Smoke 
        - uses: actions/upload-artifact@v3
          with:
            name: report-${{github.run_number}}
            path:
                 target/surefire-reports